<div class="px-6 py-24 lg:px-8 sm:py-32">
    <div class="mx-auto text-zinc-700 max-w-7xl text-base/7">
        <h1 class="mt-2 text-4xl font-semibold tracking-tight text-center sm:text-left text-zinc-900 text-pretty sm:text-5xl">About</h1>
        <h2 class="mt-16 text-3xl font-semibold tracking-tight text-zinc-900 text-pretty">Mission Statement</h2>
        <p class="mt-6">Dreams come true</p>
        <h2 class="mt-16 text-3xl font-semibold tracking-tight text-zinc-900 text-pretty">Vision</h2>
        <p class="mt-6">
            Health, Smiles, Ballin’ All Day.
            <br><br>
            Basketball is for the kids, and kids come in all shapes, sizes and ages. The game offers happiness, health and lifetime friendships to all involved. The love for the game brings communities together and breaks barriers between people all over the world, whether it’s a kid dribbling on the sidewalk or the Olympics’ gold medal game. All you need to play is the ball and a dream! We want our basketballs to make all this as enjoyable as possible.
        </p>
    </div>
</div>