<div class="relative py-24 overflow-hidden isolate sm:py-32">
    <div class="px-6 mx-auto max-w-7xl lg:px-8">
      <div class="max-w-2xl mx-auto lg:mx-0">
        <h1 class="mt-2 text-4xl font-semibold tracking-tight text-center sm:text-left text-zinc-900 text-pretty sm:text-5xl">Camps/Clinics</h1>
      </div>
      <div class="grid max-w-2xl grid-cols-1 mx-auto mt-16 gap-x-8 gap-y-16 lg:mx-0 lg:mt-10 lg:max-w-none lg:grid-cols-12">
        <div class="relative lg:order-last lg:col-span-5">
          <div class="pl-8 border-l border-zinc-600">
              <p class="block font-semibold tracking-tight text-zinc-900 text-xl/8">
                Since 2017, Shooter’s Roll shooting camps and clinics have slowly been taking form. Stay tuned for much more to come! For now enjoy some photos of past camps.
                <br><br>
                For camp info, contact us!
            </p>
            <div  class="flex mt-8 gap-x-4">
                <img src="/media/shooter-logo.png" alt="" class="flex-none w-10 h-10 mt-1">
                <div class="text-sm/6">
                  <div class="font-semibold text-zinc-900">Kostas Kesidis</div>
                  <a href="https://www.instagram.com/shootersroll" target="_blank" class="text-zinc-600">@shootersroll</a>
                </div>
            </div>
          </div>
        </div>
        <div class="max-w-xl text-zinc-700 text-base/7 lg:col-span-7">
            <p>
                As a player I participate in 4 camps. 3 in Greece as a youngster, the SBC camp (which was way ahead of its time), and 1 camp in the USA for pro players looking to play in Europe.
                <br><br>
                I started coaching camps in 1994 at the Gary Williams Camp in the University of Maryland. That went on for 16 consecutive summers. In Europe there is an extensive list of Camps I have been blessed to be part of in Italy, Spain, Sweden, and of course Greece.
                <br><br>
                Camps are the most fun and interesting basketball events for players of all levels! You get better,all you have to do all day is hoop! The games matter but not to the extent of season games, so you can show out! Plus, creating friendships during the summertime hits different. You already know.
            </p>
        </div>
      </div>
    </div>
  </div>