<template x-if="productFound">
  <div class="bg-zinc-800">

    <div class="relative px-4 py-16 mx-auto -mt-12 max-w-7xl sm:px-6 sm:py-24 lg:px-8">
      <div class="max-w-2xl mx-auto text-center lg:max-w-4xl">
        <h2 class="text-3xl font-bold tracking-tight text-zinc-100 sm:text-4xl">Technical Specifications</h2>
      </div>

      <dl class="grid max-w-2xl grid-cols-1 mx-auto mt-16 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:max-w-none lg:grid-cols-3 lg:gap-x-8">
        <template x-for="feature in product.features">
          <div class="pt-4 border-t border-zinc-300">
            <dt x-text="feature.title" class="font-medium text-zinc-100"></dt>
            <dd x-text="feature.value" class="mt-2 text-sm text-zinc-300"></dd>
          </div>
        </template>
      </dl>
    </div>
  </div>
</template>