<div class="relative py-24 overflow-hidden isolate sm:py-32">
    <div class="px-6 mx-auto max-w-7xl lg:px-8">
      <div class="max-w-2xl mx-auto lg:mx-0">
        <h1 class="mt-2 text-4xl font-semibold tracking-tight text-center sm:text-left text-zinc-900 text-pretty sm:text-5xl">Shooting School</h1>
      </div>
      <div class="mx-auto mt-16 max-w-7xl text-zinc-700 text-base/7 lg:mx-0 lg:mt-10">
        <div class=" lg:col-span-7">
            <p>
                Training players individually on shooting is an amazing experience. You find out that all players are different as far as their technique, and that creates a challenge: You must find new ways to help each and every player! That is extremely fun AND difficult. 
                <br><br>
                Shooting is so simple and simultaneously complicated. There are many factors that come into play: physical, technical, mental and strategic. In the end, we all want to get buckets!
                <br><br>
                I was lucky to prepare myself as a shooting coach for decades without knowing it. From a very young age I tried to emulate any and every player’s jumper. All I had as a kid was TV and VCR footage and there was no shortage of European and American hoops! By imitating pro players, I kept on re-calibrating my shot. You know what? I still do! It created an instinctive process of trial and error. Besides constantly improving my own jumper, this has helped me break down players’ shooting form and habits, and cracking the code of what they may need in order to better their shooting. If the player is true to improving, there are unlimited ways of doing that. 
                <br><br>
                Personal experience was not enough, I always payed attention to coaches around me, but when I saw my first Dave Hopla lecture at the Maryland Camp, I was in awe. The same when NCAA legend Keith Veney did me the honor of training me for free. These 2 gentlemen help me understand structure in training and method to madness.   
                <br><br>
                I’ve had the pleasure of working with thousands of players on their shooting, I must say that through them I learn just as much as I share. This is a never ending cycle of fun, work, practice and grind! Shooter’s Roll Shooting School is here to stay, it’s only the beginning.
            </p>
        </div>
      </div>
    </div>
  </div>
